.navbar {
    display: flex;
    padding: 0 1.5rem;  
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    background: var(--cor-secundaria);
}

.left {
    height: 3.25rem;
}

.logo img {
    height: 3.25rem;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}