.container-resume {
    display: flex;
    padding: 3rem 3rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
    grid-row: span 1;
    grid-column: span 1;
    justify-self: stretch;
    border-radius: 1.5rem;
    background: var(--cor-secundaria);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.10);
}

.resume-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    color: #213A57;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: var(--Static-Label-Large-Line-Height, 1.25rem); /* 125% */
    letter-spacing: var(--Static-Label-Large-Tracking, 0.00625rem);
}