* {
    box-sizing: border-box;
}

.header-azul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem clamp(1.5rem, 5vw, 5rem);
    background-color: #e3f2fd;
}

.container-last-result{
    display: flex;
    width: 80rem;
    height: 47.5rem;
    padding: 5rem 5.125rem 0 5.125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    flex-shrink: 0;
    background: #FFFFFF;
}


.textos-last-result {
    display: flex;
    padding: 0 1.5rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.h3-last-result {
    color: #213A57;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem; /* 133.333% */
    letter-spacing: 0.00625rem;
}

.cards-last-result {
    display: inline-grid;
    padding: 2rem 0;
    row-gap: 2.5rem;
    column-gap: 40px;
    align-self: stretch;
    grid-template-rows: repeat(1,fit-content(100%));
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-auto-flow: row;
    border-top: 1px solid rgba(29, 29, 29, 0.25);
}

.cards-last-result > * {
    flex: 1 1 280px;
}

@media (max-width: 768px) {
    .container-last-result {
        gap: 1.5rem;
        padding-top: 7rem; 

    .cards-last-result {
        gap: 1.5rem;
    }
}}